<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
</head>
<body>

<form method="post">

<div>
Nombre d'ingrédients<br>
<select name="n_ingredients">
  {% for n_ingredients_ in n_ingredients_list %}
    {% if n_ingredients_ == n_ingredients and save_n_ingredients %}
      <option value="{{n_ingredients_}}" selected>{{n_ingredients_}}</option>
    {% else %}
      <option value="{{n_ingredients_}}">{{n_ingredients_}}</option>
    {% endif %}
  {% endfor %}
</select>

{% if save_n_ingredients %}
  <input type="checkbox" name="save_n_ingredients" checked> Sauver
{% else %}
  <input type="checkbox" name="save_n_ingredients"> Sauver
{% endif %}
</div>

<input type="submit" name="generate" value="Générer">

</form>
</body>
</html>