<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
</head>
<body>

<div>
<select name="colour" method="GET" action="/">
  <option value="aucun" selected>Aucun</option>"
  {% for colour in colours %}
  <option value="{{colour[0]}}">{{colour[0]}}</option>"
  {% endfor %}
</select>
<input type="checkbox" name="force_color"> Force
</div>

<div>
<select name="note" method="GET" action="/">
  <option value="aucun" selected="selected">Aucun</option>"
  {% for note in notes %}
  <option value="{{note}}" SELECTED>{{note}}</option>"
  {% endfor %}
</select>
<input type="checkbox" name="force_color"> Force
</div>

<form method="post">
<input type="submit" value="Click Me">
</form>

</body>
</html>